
<div class="grid grid-rows-1 grid-flow-col">
  <div class="container mx-auto columns-1 mt-10">
    <div class=" text-center justify-content-center">
      <p class="text-violet" style="font-size: 40px;">
        Luis Antonio Colin Heredia<br>
        (Ethical Hacker and Software Developer).
      </p>
    </div>
  </div>
</div>
<div class="grid grid-rows-1 grid-flow-col">
  <div class="container mx-auto columns-1 mt-10">
    <div class="mockup-code">
      <pre data-prefix="$"><code>npm install c0l1nr00t</code></pre> 
      <pre data-prefix=">" class="text-warning"><code>installing Sofware Developer...</code></pre>
      <pre data-prefix=">" class="text-warning"><code>installing Ethical Hacker...</code></pre> 
      <pre data-prefix=">" class="text-success"><code>Happy Dev and Hacking!</code></pre>
      <pre data-prefix=">" class="text-success"><code>Done !</code></pre>
    </div>
  </div>
</div>

<div class="grid grid-rows-1 grid-flow-col">
  <div class="container mx-auto columns-1 mt-10 h-screen">
    <div class="grid grid-cols-5 gap-5">
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/angular.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/bash.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/c++.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/c.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/java.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/linux.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/mongodb.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/mysql.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/nodejs.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/react.png" />
      </div>
      <div class="image-skills-1 animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/ts.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/Flutter.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/docker_icon.png" />
      </div>
      <div class="image-skills animate__animated animate__zoomIn animate__bounce animate__delay-2s">
        <img src="../../../assets/images/git.png" />
      </div>
    </div>
  </div>
</div>
