<div class="container mx-auto columns-1 mt-5">
  <div class=" text-center justify-content-center">
    <p>
      Hola soy Luis Antonio colin heredia<br>
      Soy Ethical Hacker y Software Developer
    </p>
  </div>
</div>
<div class="container mx-auto columns-3 mt-5">
  <div>
    <br>
  </div>
  <div>
    <div class="mockup-code">
      <pre data-prefix="1"><code>npm i daisyui</code></pre> 
      <pre data-prefix="2"><code>installing...</code></pre> 
      <pre data-prefix="3" class="bg-warning text-warning-content"><code>Error!</code></pre>
    </div>
  </div>
  <div>
    <br>
  </div>
</div>