
<div class="grid grid-rows-1 grid-flow-col">
  <div class="container mx-auto columns-1 mt-10">
    <div class=" text-center justify-content-center">
      <p class="text-violet" style="font-size: 40px;">
        Luis Antonio Colin Heredia<br>
        (Ethical Hacker and Software Developer).
      </p>
    </div>
  </div>
</div>
<div class="grid grid-rows-1 grid-flow-col">
  <div class="container mx-auto columns-1 mt-10 h-screen">
    <div class="mockup-code">
      <pre data-prefix="$"><code>npm install c0l1nr00t</code></pre> 
      <pre data-prefix=">" class="text-warning"><code>installing Sofware Dev...</code></pre>
      <pre data-prefix=">" class="text-warning"><code>installing Ethical Hacker...</code></pre> 
      <pre data-prefix=">" class="text-success"><code>Happy Hacking!</code></pre>
      <pre data-prefix=">" class="text-success"><code>Done !</code></pre>
    </div>
  </div>
</div>

