
<div class="grid grid-rows-1 grid-flow-col">
    <div class="container mx-auto columns-1 mt-10">
      <div class=" text-center justify-content-center">
        <p class="text-violet" style="font-size: 40px;">
          Proyectos desarrollados.<br>
          Portafolio.
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-rows-1 grid-flow-col">
    <div class="container mx-auto columns-1 mt-10">
        <p class="text-violet">
            <ol>
                <li class="">
                    Lenguajes de programación: Java, C/C++, Dart, BASH, Python, Javascript.
                </li>
                <li>
                    Frameworks: Angular, React, NodeJs - Express.
                </li>
                <li>
                    Herramientas y tecnologías: Flutter, NodeJS, MySQL, MongoDB, Docker.
                </li>
            </ol>
    </div>
  </div>
  
  <div class="grid grid-rows-1 grid-flow-col">
    <div class="container mx-auto columns-1 mt-10 h-screen">
      
      <div class="grid grid-cols-1 gap-1">
        <div class="animate__animated animate__zoomIn animate__bounce animate__delay-2s">
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="../../../assets/images/git.png" alt="Proyecto"/></figure>
            <div class="card-body">
              <h2 class="card-title">New movie is released!</h2>
              <p>Click the button to watch on Jetflix app.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Watch</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid grid-cols-1 gap-1 mt-5">
        <div class="animate__animated animate__zoomIn animate__bounce animate__delay-2s">
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="../../../assets/images/git.png" alt="Proyecto"/></figure>
            <div class="card-body">
              <h2 class="card-title">New movie is released!</h2>
              <p>Click the button to watch on Jetflix app.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Watch</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>   
  </div>

  <div class="grid grid-rows-1 grid-flow-col mt-5">
    <div class="container mx-auto columns-1 mt-10 h-screen">
      
      <div class="grid grid-cols-1 gap-1">
        <div class="animate__animated animate__zoomIn animate__bounce animate__delay-2s">
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="../../../assets/images/git.png" alt="Proyecto"/></figure>
            <div class="card-body">
              <h2 class="card-title">New movie is released!</h2>
              <p>Click the button to watch on Jetflix app.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Watch</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid grid-cols-1 gap-1 mt-1">
        <div class="animate__animated animate__zoomIn animate__bounce animate__delay-2s">
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="../../../assets/images/git.png" alt="Proyecto"/></figure>
            <div class="card-body">
              <h2 class="card-title">New movie is released!</h2>
              <p>Click the button to watch on Jetflix app.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Watch</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>   
  </div>
  
  
  